*{
	margin:0;
	padding:0;
	font-family:arial,helvetica,sans-serif;
	
}

.wrapper{
	max-width: 10000px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}  
	
.text-center{
	text-align:center;
}

.clearfix{
	float:none;
	clear:both;
}


.tbl-full{
	width:100%;
	border-bottom: #ffa502;

	

	
}

table tr th{
	border-bottom:1px solid Blue;
	Padding:1%;
	Text-align:left ;
	
} 

Table tr td{
	padding:1%;
	Text-align:left;
	
	
}

.btn-1{
	background-color:#2f3542;
	padding:1%;
	color:white;
	text-decoration:bold;
	Font-weight:bold;

}

.btn-1:hover{
	background-color:#57606f;
}


.btn-2{
	background-color:#ffa502;
	padding:1%;
	color:white;
	text-decoration:bold;
	Font-weight:bold;
}

.btn-2:hover{
	background-color:#eccc68;
}

.btn-Dlt{
	background-color:#ff4757;
	padding:1%;
	color:white;
	text-decoration:bold;
	Font-weight:bold;
}

.btn-3{
	background-color:#ff4757;
	padding:1%;
	color:blue;
	text-decoration:bold;
	Font-weight:bold;
	}

.btn-dlt:hover{
	background-color:red;
}

.successM{
	background-color:green; 

}
.FaildM{
	background-color:red;
} 

.Menu{
	border-bottom:1px solid #ffa502;
}
.Menu ul{
	list-style-type:none;
}
.Menu ul li{
	Display:inline;
	padding:4px
}
.Menu ul li a:hover{
	color:#ffa502;
}
.Menu ul li a{
	text-decoration:none;
	Font-weight:bold;
	color:#ff4757;
}


.Main {
	
	background-color:#70a1ff;
	padding:3%;
}

.col{
	width:19%;
	background-color:#ffffff;
	margin:1%;
	padding:2%;
	float:left;

}
/* login */
.login{
	border:#7875B5 5px solid;
	background-color:transparent;
	height: 50%;
    width: 40%;
	padding: 2%;
	margin: 8% auto;
	right: 10%;
}
.btn-4{
	background-color: #fff;
    border-color: #fff;
    color: #106fe7;
	padding:1%;
	color:blue;
	text-decoration:bold;
	Font-weight:bold;
	height: 5%;
    width: 100%;
	text-align:center;
}
.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 100%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}


body {
  background-image: url("../images/login.jpg"); 
  background-size: cover;
}

.Order_font{
	font-size: 13;
}


.footer{
	background-color:brown;
	color:white;
}
